/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --backcolor1: #F6F8FA;
  --icon-color: #0ef;
  --bg-color: #1f252d;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
    width: 100vw;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    background-color: var(--backcolor1);
    object-fit: cover;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
.btn {
    transition: all 300ms ease;
}

header {
    background-color: var(--white);
    color: black;
    text-align: center;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: none;
    font-size: 1.7rem;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name {
    font-size: 3.5rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing:-2px;
}


.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin: 20px;
    position: col
}

.menu li a:hover {
  cursor: pointer;
  border-bottom: 2px grey solid;
}

.menuIcon {
    font-size: 4rem;
    cursor: pointer;
    display: none;/* Hide on PC devices */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4rem;
}

.navbar a {
  animation: fade-in 2s ease;
}

.heading {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2.5rem;
}

.latest-container {
  position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    gap: 1rem;
    /* justify-content: flex-start; */
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    width: max-content;
    object-fit: cover;
    
}

.carousel {
  display: flex;
  transition: transform 0.2s ease-in;
}

.slide-container {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.slide_image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  background-color: lightgreen;
  border-radius: 8px;
  height: 100%;
  position: relative;
  overflow: hidden;
  
}

.slide_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: all 0.2s ease-in;
}

.carousel_slide {
  position: absolute;
 height:100%;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button--left {
  left: -65px;
}

.carousel_button--right {
  right: -65px;
}

.carousel_button img {
  width: 30px;
  height: 30px;
}

.carousel_nav {
  /*background: pink;*/
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, .3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

.is-hidden { display: none;}


.slideshow h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
}

.portfolio {
background-color: var(--backcolor1);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
object-fit: cover;
}

.portfolio-box{
  display: flex;
  background-color: #eee;
  flex-direction: column;
  border-radius: 20px; 
  object-fit: cover;
}

.portfolio-box:last-child {
  margin-right: 0;
}

.portfolio-box img {
    border-radius: 8px;
    margin: 12px;
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    object-fit: cover;
}

.portfolio-layer {
  padding: 0 12px;
}


.portfolio-layer h4 {
  font-size: 18px;
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
}

.portfolio-layer p {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 12px;
  font-family: Inter, sans-serif;
}
.portfolio-box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .8rem;
    margin: .7rem 0;
    font-size: 1.6rem;
}


.contact form .input-box input {
    width: 40%;
}

.contact form textarea {
    resize: none;
    width: 95%;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

#contactBtn:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    cursor: pointer;
    color:grey;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-text h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.showcase-text h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.showcase-text p {
    font-size: 1.6rem;
}

.showcase-image img {
    /* width: 35vw; */
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.showcase-image {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    display: flex;
}

main {
    padding: 20px;
    object-fit: cover;
}



section {
padding: 4rem;
object-fit: cover;
} 

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background-color: var(--backcolor1);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: black;
}

button {
    background-color: white;
    border: none;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    color: grey;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem gray;
    font-size: 1.6rem;
    color: var(--blue);
    object-fit: cover;
}



span {
    color: darkorange;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--backcolor1);
}

.about-img img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 2px solid black;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2{
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* BREAAKPOINT */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {

  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .contact {
    min-height: auto;
  }
  
  .menu {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    margin-bottom: 20px;
  }
  .menu li {
    margin-bottom: 10px;
  }

  .showcase {
    margin-top: 50px;
  }

  .showcase-text h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  .showcase-text h1 {
    font-size: 40px;
    margin: 10px;
  }
  .showcase-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 30px 30px;
  }

  .about-content .heading h2 {
    font-size: 30px;
    padding: 0 10px;
    margin: 0px;
  }

  .about-img {
    height: 100px;
    margin: 10px 20px;
  }

  .about-content p {
    font-size: 20px;
  }

  .input-box {
    width: 100%;
  }

  .portfolio .heading {
    font-size: 30px;
    padding: 0 10px;
    margin: 10px;
  }

  .showcase-text p {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .menuIcon {
    display: block;
  }

  
  .name {
    font-size: 3.5rem;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .showcase {
    flex-direction: column;
  }

  .showcase-text h3 {
    font-size: 2.6rem;
  }

  .showcase-text h1 {
    font-size: 5rem;
  }

  .showcase-image {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about-img {
    margin-top: 4rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .latest-container {
    grid-template-columns: repeat(5, 4fr);
  }
}

@media (max-width: 617px) {
  .latest-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .showcase-image {
    width: 90vw;
  }

  .about-img {
    width: 90vw;
  }


}
@keyframes fade-in {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.social {
  background-color: none;
  padding: 10px;
  margin: 50px;
}


.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  padding: .8rem;
  background-color: var(--backcolor1);
  border-radius: 50%;
  border: .2rem solid var(--icon-color);
  transition: .5s ease;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
}

.social a i {
  font-size: 2.4rem;
  color: var(--icon-color);
  margin: 10px 50px;
}

.social a:hover {
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
